<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Swim DB - Edit</title>

  <link rel="stylesheet" href="swimDB.css">

</head>

<body>

  <div class="topnav">
    <a href="/">Athletes</a>
    <a href="/meets">Meets</a>
    <a href="/event">Events</a>
    <a href="/results">Results</a>
    <a class="active" href="/edit">Edit</a>
  </div>
  <br>

  <form action="/edit" method="get">
    <select name="addRemoveAthlete" id="add-remove-select-athlete">
      <% for (const option of addRemoveOptions) { %>
        <option value="<%=option%>" <%=option===addRemoveAthlete ? 'selected="selected"' : "" %>
          >
          <%=option%>
        </option>
        <% } %>
    </select>
    Athlete:
    <br>
    <label for="swimmer-select">Enter swimmer name:</label>
    <input type="text" name="fswimmer_athlete" id="swimmer-Fname-athlete-select" value="<%=fswimmer_athlete%>" />
    <input type="text" name="lswimmer_athlete" id="swimmer-Lname-athlete-select" value="<%=lswimmer_athlete%>" />
    <label for="sex-select">Select Sex:</label>
    <select name="sex_athlete" id="sex-select-athlete">
      <% for (const option of sexOptions) { %>
        <option value="<%=option%>" <%=option===sex_athlete ? 'selected="selected"' : "" %>
          >
          <%=option%>
        </option>
        <%}%>
    </select>
    <label for="team-select-athlete">Select Team:</label>
    <select name="team_athlete" id="team-select-athlete">
      <% for (const option of teamOptions) { %>
        <option value="<%=option%>" <%=option===team_athlete ? 'selected="selected"' : "" %>
          >
          <%=option%>
        </option>
        <% } %>
    </select>


    <label for="age-select-athlete">Select Age:</label>
    <input type="text" name="age_athlete" id="age-select-athlete" value="<%=age_athlete%>" />

    <button type="submit">Submit!</button>
  </form>
  <br>
  <br>

  <form action="/edit" method="get">
    <select name="addRemoveMeet" id="add-remove-select-meet">
      <% for (const option of addRemoveOptions) { %>
        <option value="<%=option%>" <%=option===addRemoveMeet ? 'selected="selected"' : "" %>
          >
          <%=option%>
        </option>
        <% } %>
    </select>
    Meet:
    <br>
    <label for="meet-name-select">Meet Name:</label>
    <input type="text" name="meet_name" id="meet-name-select" value="<%=meet_name%>" />

    <label for="meet-location-select">Meet Location:</label>
    <input type="text" name="meet_location" id="meet-location-select" value="<%=meet_location%>" />

    <label for="meet-date-select">Meet Date:</label>
    <input type="date" name="meet_date" id=" meet-date-select" value="<%=meet_date%>" />


    <button type="submit">Submit!</button>
    <a href="/edit">Reset!</a>
  </form>

  <script src="swimDB.css"></script>
</body>

</html>